<!DOCTYPE html>	
<html lang="pt-br" ng-app="main" >

	<head>
		<base href="/"></base>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width"></meta>
		<title>Catho - desafio</title>
		
		<link rel="stylesheet" href="public/css/bootstrap.min.css"></link>
	    <link rel="stylesheet" href="public/css/bootstrap-theme.min.css"></link>
	    
		<script src="public/js/lib/angular.min.js"></script>  
	    <script src="public/js/lib/angular-animate.min.js"></script>
	    <script src="public/js/lib/angular-route.min.js"></script>
	    <script src="public/js/lib/angular-resource.min.js"></script>
		<script src="public/js/lib/jquery-3.2.1.min.js"></script>	
		<script src="public/js/lib/bootstrap.min.js"></script>
		<script src="public/js/main.js"></script> 
		<script src="public/js/controller/home-controller.js"></script>
	</head>
	
	<body>
        <div class="">
        	<ng-view></ng-view>
        </div>               
    </body>

</html>